body {
  margin: 0;
  padding: 0;
  height: 100svh;
}

.vira-copos-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.logo.home {
  height: 300px;
  width: auto;
}

.logo.game {
  height: 100px;
  width: auto;
}

.draw-button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ffcc00;
    color: #000;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.grid-button {
  padding: 12px;
  font-size: 23px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #999;
  }
}

.grid-button.eliminated {
  background-color: #ccccccb3;
  color: #a8a8a8;
  cursor: not-allowed;
}

.grid-button.winner {
  background-color: #ffcc00;
  color: #000;
  cursor: default;
}

.reset-button {
  grid-column: span 3;
  background-color: #ff0000;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ffcc00;
    color: #000;
  }
}

.reset-button:disabled {
  background-color: #ccccccb3;
  color: #a8a8a8;
  cursor: not-allowed;

  &:hover {
    background-color: #ccccccb3;
    color: #a8a8a8;
  }
}

.reset-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px;
  width: 250px;
  z-index: 1000;
  text-align: center;
  border-radius: 15px;
  border: #fff solid 1px;
  background-color: #000;
  color: #fff;
  font-size: 30px;
  transform: translate(-50%, -50%);
  animation: jumpIn 0.3s ease forwards;

  input {
    background-color: transparent;
    font-size: 30px;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    text-align: center;
    width: 3ch;
    outline: none;
    margin: 0;
  }

  buttton {
    padding: 20px 40px;
    font-size: 30px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ffcc00;
      color: #000;
    }
  }
}

.animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
  z-index: 1000;
  text-align: center;
  border-radius: 10px;
  border: #fff solid 1px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  animation: jumpIn 1s ease forwards;

  p {
    margin: 10px 0 0;
  }
}

@keyframes jumpIn {
  0% {
    transform: translate(-50%, -50%) scaleY(0) scaleX(0);
  }
  100% {
    transform: translate(-50%, -50%) scaleY(1) scaleX(1);
  }
}

.first-click-hit-gif {
  height: 390px;
  width: auto;
}
